@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

header {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.left-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-section img {
  width: 46%;
  padding-left: 16px;
}

.mid-section {
  display: flex;
  align-items: center;
  margin-left: -9%;
}

.mid-section form {
  display: flex;
  height: 40px;
  width: 628px;
}

.mid-section input {
  width: 78%;
  border-radius: 30px 0 0 30px;
  padding-left: 15px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
  border: 1px solid #e0e0e0;
  border-right: none;
}

.mid-section button {
  width: 70px;
  border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  background-color: #f8f8f8;
  padding: 0 5px 0 5px;
}

.mid-section button:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
}

.mid-section .mic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: #f8f8f8;
  border-radius: 50%;
  width: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.mid-section .mic:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
}

.right-section a {
  color: black;
  text-decoration: none;
  padding: 0 6px;
  cursor: pointer;
}

.content-area {
  height: calc(100vh - 66px);
  background-color: white;
  display: flex;
  margin-top: 8px;
}

aside {
  height: 100%;
  width: 280px;
  overflow-y: auto;
  background-color: white;
  margin-right: 15px;
}
aside a {
  color: black;
  text-decoration: none;
  padding: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-right: 5px;
  width: 70%;
}

nav .active {
  background-color: #f2f2f2;
  /* font-size: 500; */
  width: 70%;
  display: flex;
  align-items: center !important;
}

nav {
  width: 90%;
  /* margin-top: 15px; */
  margin-right: 10px;
}

.nav-link {
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  margin-left: 10px;
}

.nav-link:hover {
  background-color: #f2f2f2;
}

aside i {
  font-size: 25px !important;
}

aside span {
  margin-left: 20px;
  font-size: 15px;
}

hr {
  border-color: #f0f0f0;
  opacity: 30%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 18px;
}

.main_area {
  background-color: white;
  width: 100%;
  margin-right: 15px;
  height: 100vh;
}

.main_area .top_links {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: white !important;
  justify-content: space-around;
}

.main_area .top_links .active {
  background-color: black;
  color: white;
}

.main_area .top_links a {
  text-decoration: none;
  background-color: #f2f2f2;
  color: black;
  font-size: 17px;
  padding: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.videos{
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
}

.videos .video_card{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}


.videos .video_card .top_part img{
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


.bottom_part {  
margin-top: 10px; 
display: flex;
justify-content: space-evenly;
}

.videos .video_card .bottom_part span{
  /* margin-left: 100px; */
  } 

  .video_name{
    font-size: 20px;
    margin-left: 100px;
  }